.section_wrapper {
    width: 100%;
    height: auto;
    display: flex;
}

.section_container {
    width: 100%;
}

.section_top {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #908F8F;
}

.section_top_content {
    width: 100%;
    margin-top: 17px;
    margin-left: 10px;
}

.section_top_label {
    font-size: 14px;
    font-weight: 700;
}

.today {
    margin-right: 30px;
    font-size: 13px;
    font-weight: 700;
    float: right;
}

.section_middle {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #908F8F;
    justify-content: center;
}

.section_middle_content {
    margin-top: 18px;
    display: flex;
}

.this_month {
    font-size: 18px;
    font-weight: 700;
}

.section_bottom_menu {
    top: 161px;
    position: absolute;
    display: flex;
}

.bottom_btn {
    padding: 5px 8px 5px 8px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 200;
    background-color: white;
    border: 1px solid #908F8F;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.section_bottom {
    height: 750px;
    display: flex;
}

.section_bottom_content {
    width: 100%;
}

.btn_money_hide {
    cursor: pointer;
    vertical-align: middle;
}

/* write */

.section_write {
    width: 100%;
    height: 700px;
}

.section_write_b {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #D0D0D0;
    border-bottom: 1px solid #908F8F;
}

.table_text {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    font-weight: 600;
}

.write_text {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
}

.write_money {
    text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* select box */

.hide{
    display: none;
}
.show{
    display: block;
}

/* 셀렉트 영역 스타일 */
.select{
    padding: 2px;
    border: 1px solid #908F8F;
    position: relative;
    cursor: pointer;
}

/* 옵션 영역 스타일 */
.select ul{
    top: 30px;
    left: 0;
    width: 100%;
    margin-top: 5px;
    border:1px solid #908F8F;
    position: absolute;
    cursor: pointer;
}

.select ul li{
    padding-top: 3px;
    padding-bottom: 3px;
}

.class_list {
    z-index: 1;
    position: relative;
    background-color: #F7F6F6;
}

.main_class {
    z-index: 2;
}

.main_class:hover {
    background-color: #D7DBDC;
}

.sub_class_frame {
    top: 10px;
    left: 0;
    width: 99%;
    border: 1px solid #908F8F;
    background-color: white;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.sub_class:hover {
    background-color: #D7DBDC;
}

.sub_class {
    padding: 2px;
    font-size: 12px;
    display: block;
    position: relative;
    cursor: pointer;
}

input {
    border: none;
}

/* budget */

.section_budget {
    width: 100%;
}

.budget_top {
    border-bottom: 1px solid #908F8F;
}

.budget_frame {
    margin: 20px auto;
    height: 50px;
}

.month {
    padding: 10px;
    margin-left: 20px;
    background-color:rgba(3, 199, 90, 0.1);
    color: #03c75a;
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
}

.month_Line {
    width: 10px;
    height: 4px;
    margin-left: 20px;
    display: inline-block;
    background-color: #03c75a;
}

.budget_list {
    padding-top: 7px;
    padding-bottom: 7px;
}

.budget_c {
    background-color: #efefef;
}

.budget_column {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.budget_cost {
    padding-right: 10px;
    text-align: right;
}

.budget_cost_input {
    cursor: pointer;
}

.budget_input {
    margin-left: 10px;
    width: 93%;
    text-align: right;
}

.submit_frame {
    text-align: right;
}

.submit_btn {
    padding: 10px;
    margin-right: 10px;
    background-color: #03c75a;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.budget_report_text {
    padding: 10px;
    width: 7.6%;
    height: 15px;
    color: #222;
    border: 1px solid #D0D0D0;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
}

.budget_report_color {
    background-color: #efefef;
}

.budget_report_label {
    text-align: left;
}

.budget_report_cost {
    font-size: 12px;
}

/* hopeGoal */

.hopeGoal_container {
    width: 100%;
}

.hopeGoal_top {
    width: 100%;
    height: 257px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #908F8F;
}

.hopeGoal_content {
    width: 100%;
}

.content_top {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
}

.hopeGoal_top_text {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

.hopeGoal_write {
    margin-top: 5px;
    margin-right: 20px;
    padding: 4px 7px 4px 8px;
    height: 24px;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
}

.content_middle {
    width: 100%;
}

.hopeGoal_label {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #d9d9d9;
    background-color: #efefef;
}

.hopeGoal_label_text {
    margin-left: 10px;
}

.hopeGoal_write_content {
    width: 100%;
    min-height: 450px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 15px rgba(0,0,0,0.05);
}

.hopeGoal_write_top {
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hopeGoal_write_text {
    font-size: 16px;
    font-weight: 700;
}

.hopeGoal_middle {
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid black;
}

.side_content {
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 50px;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.hopeGoal_write_middle {
    margin-top: 20px;
    width: 100%;
}

@media all and (max-width: 1024px) {
    .hopeGoal_content_label {
        margin-left: -20px;
        display: block;
    }

    .hopeGoal_content_ex {
        margin-left: 18px;
    }

    .hopeGoal_content_text {
        margin-left: 30px;
    }
}

.write_content {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
}

.hopeGoal_content_label {
    font-size: 14px;
    font-weight: 700;
}

.hopeGoal_content_container {
    margin-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.hopeGoal_content_text {
    margin-left: 15px;
    font-size: 14px;
}

.hopeGoal_content_input {
    margin-right: 5px;
    padding: 0 9px;
    height: 31px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
}

.hopeGoal_content_frame {
    margin-bottom: 15px;
}

.hopeGoal_content_ex {
    margin-top: 10px;
    color: #777;
    font-size: 12px;
    display: inline-block;
}

.hopeGoal_btn_frame {
    padding-top: 25px;
    margin-top: 20px;
    text-align: center;
}

.hopeGoal_submit {
    padding: 10px;
    height: 42px;
    color: #fff;
    background-color: #03c75a;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.hopeGoal_cancel {
    height: 42px;
    padding: 10px 15px 10px 15px;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
}
.hopeGoal_content_textarea {
    width: 70%;
    height: auto;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
}

.hopeGoal_tag {
    margin: 3px;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.click_tag {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.hopeGoal_list_div {
    width: 100%;
    display: table;
}

.hopeGoal_content_list {
    height: 34px;
    border: 1px solid #d9d9d9;
    display: table-cell;
}

.hopeGoal_image {
    padding-top: 8px;
    height: 48px;
    float: left;
}

.hopeGoal_list_frame {
    width: 100%;
}

.hopeGoal_title {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.hopeGoal_date {
    margin-top: 4px;
    font-size: 8px;
    font-weight: 600;
    display: block;
}

.hopeGoal_list_text {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.hopeGoal_graph_frame {
    margin-left: 10px;
    width: 50%;
    height: 14px;
    display: inline-block;
    background-color: #dfdfdf
}

.hopeGoal_graph {
    height: 14px;
    background-color: #03c75a;
    display: inline-block;
}

.hopeGoal_percent {
    margin-left: 10px;
    color: #03c75a;
}

.hopeGoal_click_div {
    margin-top: 12px;
    margin-left: 10px;
    width: 50%;
    display: inline-block;
    cursor: pointer;
}

.hopeGoal_top_box1 {
    margin-top: 120px;
    margin-left: 40px;
    width: 180px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.hopeGoal_top_box2 {
    margin-top: 60px;
    margin-left: 240px;
    width: 180px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.hopeGoal_top_box3 {
    margin-top: 120px;
    margin-left: 440px;
    width: 180px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.hopeGoal_top_box4 {
    margin-top: 60px;
    margin-left: 640px;
    width: 180px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.hopeGoal_top_box5 {
    margin-top: 120px;
    margin-left: 840px;
    width: 180px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.hopeGoal_top_image{
    margin-top: 12px;
    height: 68px;
    border-radius: 16px;
    float: left;
}

.hopeGoal_top_box_content {
    margin-top: 22px;
    margin-left: 12px;
    display: inline-block;
}

.top_box_title {
    font-size: 16px;
    display: block;
}

.top_box_hopeGoalCost {
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.top_box_percent {
    color: #03c75a;
    font-size: 12px;
    font-weight: 700;
    display: block;
}

/* hopeGoalView */

.hopeGoalView_container {
    width: 100%;
}

.hopeGoalView_top {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c6c6;
}

.hopeGoalView_title {
    font-size: 14px;
    font-weight: 600;
}

.hopeGoalView_date {
    margin-right: 10px;
    font-size: 12px;
    float: right;
}

.hopeGoalView_middle {
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
}

.hopeGoalView_info {
    margin-left: 20px;
    height: 200px;
}

.hopeGoalView_image {
    margin-top: 5px;
    height: 132px;
    float: left;
}

@media all and (max-width: 1024px) {
    .hopeGoalView_image {
        width: 75px;
        height: 130px;
    }
}

.hopeGoalView_middle_text {
    width: 60%;
    height: auto;
    display: inline-block;
}

.hopeGoalView_text_div {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.hopeGoalView_text_label {
    width: 80px;
    font-size: 12px;
    font-weight: 700;
}

.hopeGoalView_cost {
    color: #03c75a;
    font-size: 12px;
    font-weight: 700;
}

.hopeGoalView_text_date {
    color: #777;
    font-size: 12px;
    font-weight: 700;
}

@media all and (max-width: 1024px) {
    .hopeGoalView_text_date {
        line-height: 24px;
    }
}

.hopeGoalView_graph_frame {
    width: 28%;
    height: 12px;
    display: inline-block;
    background-color: #dfdfdf;
}

.hopeGoalView_graph {
    width: 0%;
    height: 12px;
    background-color: #3e7aff;
}

.hopeGoalView_percent {
    margin-left: 15px;
    color: #3e7aff;
    font-size: 12px;
    font-weight: 700;
}

.hopeGoalView_text_tag {
    font-size: 12px;
}

.hopeGoalView_bottom {
    margin-top: 20px;
}

.hopeGoalView_list_frame {
    text-align: left;
    display: inline-block;
}

.hopeGoalView_edit_frame {
    float: right;
    display: inline-block;
}

.hopeGoalView_btn {
    padding: 5px 9px 5px 9px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}