.section_wrapper {
    width: 100%;
    height: auto;
    display: flex;
}

.section_container {
    width: 100%;
}

.section_top {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #908F8F;
}

.section_top_content {
    width: 100%;
    margin-top: 17px;
    margin-left: 10px;
}

.section_top_label {
    font-size: 14px;
    font-weight: 700;
}

.today {
    margin-right: 30px;
    font-size: 13px;
    font-weight: 700;
    float: right;
}

.section_middle {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #908F8F;
    justify-content: center;
}

.section_middle_content {
    margin-top: 18px;
    display: flex;
}

.this_month {
    font-size: 18px;
    font-weight: 700;
}

.section_bottom_menu {
    top: 161px;
    position: absolute;
    display: flex;
}

.bottom_btn {
    padding: 5px 8px 5px 8px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 200;
    background-color: white;
    border: 1px solid #908F8F;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.section_bottom {
    height: 750px;
    display: flex;
}

.section_bottom_content {
    width: 100%;
}

.btn_money_hide {
    vertical-align: middle;
}

/* write */

.section_write {
    width: 100%;
    height: 700px;
}

.section_write_b {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #D0D0D0;
    border-bottom: 1px solid #908F8F;
}

.table_text {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    font-weight: 600;
}

.write_text {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
}

.write_money {
    text-align: right;
}