.signup_container {
    width: 100%;
}

.signup_content {
    width: 40%;
    margin: 50px auto;
    padding-bottom: 20px;
    border: 1px solid black;
    text-align: center;
}

.signup_input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.signup_input_container {
    width: 38%;
    margin: 10px auto;
}

.signup_label {
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.signup_btn {
    width: 177px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.signup_btn:hover {
    background-color: #E6E5E5;
    border-color: #E6E5E5;
}

.signup_btn_text {
    font-size: 14px;
    font-weight: 600;
}

.home_btn {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    cursor: pointer;
}