<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/section.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <body>
    <script src="js/paint/header-paint.js"></script>
    <section class="section_wrapper">
        <script src="js/paint/nav-paint.js"></script>
        <div class="section_container">
            <div class="section_top">
                <div class="section_top_content">
                    <span class="section_top_label font">예산쓰기</span>
                    <img id="btn_money_hide" class="btn_money_hide" src="image/btn_money_off.png" alt="btn_money" />
                    <span id="budget_today" class="today font"></span>
                </div>
            </div>
            <div class="section_middle">
                <div class="section_middle_content">
                    <span id="this_month" class="this_month font"></span>
                </div>
            </div>
            <div class="section_bottom_menu">
                <span class="bottom_btn font">예산쓰기</span>
                <span class="bottom_btn font">예산반성</span>
            </div>
            <div class="section_bottom">
                <div class="section_budget">
                    <div class="budget_top">
                        <div class="budget_frame">
                            <span id="budget_first" class="month font"></span>
                            <div class="month_Line font">&nbsp;</div>
                            <span id="budget_last" class="month font"></span>
                        </div>
                    </div>
                    <div class="budget_content">
                        <table style="width: 100%">
                            <tr>
                                <td class="section_write_b budget_list budget_column budget_c" style="width: 10%;">분류</td>
                                <td class="section_write_b budget_column budget_c" style="width: 25%;">예산</td>
                                <td class="section_write_b budget_column budget_c" style="width: 25%;">지출</td>
                                <td class="section_write_b budget_column budget_c" style="width: 25%;">남은 돈</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">식비</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">주거/통신</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">생활용품</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">의복/미용</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">건강/문화</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">교육/육아</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">교통/차량</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">경조사/회비</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">세금/이자</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">용돈/기타</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">저축/보험</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                            <tr class="test">
                                <td class="section_write_b budget_list budget_column" style="width: 10%;">카드대금</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                                <td class="section_write_b budget_column budget_cost">0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/paint/footer-paint.js"></script>
    </body>
    <script src="js/header.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/section-budget.js"></script>
    <script src="js/section.js"></script>
</html>