<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/login.css" />
    </head>
    <body>
        <div class="login_container">
            <div class="login_content">
                <div class="input_frame">
                    <form id="login_form" action="/login" method="POST">
                        <div class="input_div">
                            <span class="input_label font">UserName</span>
                            <input id="username" class="input_box" name="username" type="text" placeholder="UserName"/>
                        </div>
                        <div class="input_div">
                            <span class="input_label font">PassWord</span>
                            <input id="password" class="input_box" name="password" type="password" placeholder="PassWord"/>
                        </div>
                        <div id="login_btn" class="login_btn_frame">
                            <span class="login_btn_text font">로그인</span>
                        </div>
                    </form>
                    <img class="login_image" src="image/googleLogin.PNG" alt="loginImage" onclick="location.href='/oauth2/authorization/google'">
                    <br>
                    <img class="login_image" src="image/naverLogin.PNG" alt="loginImage" onclick="location.href='/oauth2/authorization/naver'">
                    <br>
                    <span class="signup_text font" onclick="location.href='signup.html'">회원가입 아직 하지 않으셨나요?</span>
                    <span class="home_btn font" onclick="location.href='write.html'">홈으로</span>
                </div>
            </div>
        </div>
    </body>
    <script src="js/login.js"></script>
</html>