<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/section.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <body>
        <script src="js/paint/header-paint.js"></script>
        <section class="section_wrapper">
            <script src="js/paint/nav-paint.js"></script>
            <div class="section_container">
                <div class="section_top">
                    <div class="section_top_content">
                        <span class="section_top_label font">보고서</span>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/paint/footer-paint.js"></script>
    </body>
    <script src="js/header.js"></script>
    <script src="js/nav.js"></script>
</html>
