<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/section.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <body>
        <script src="js/paint/header-paint.js"></script>
        <section class="section_wrapper">
            <script src="js/paint/nav-paint.js"></script>
            <div class="section_container">
                <div class="section_top">
                    <div class="section_top_content">
                        <span class="section_top_label font">보고서</span>
                        <img id="btn_money_hide" class="btn_money_hide" src="image/btn_money_off.png" alt="btn_money" />
                        <span id="report_today" class="today font"></span>
                    </div>
                </div>
                <div class="section_middle">
                    <div class="section_middle_content">
                        <span id="this_month" class="this_month font">2020.12.01 - 2020.12.31</span>
                    </div>
                </div>
                <div class="section_bottom_menu">
                    <span class="bottom_btn font">월보고서</span>
                    <span class="bottom_btn font">연간보고서</span>
                    <span class="bottom_btn font">지출분석</span>
                </div>
            </div>
        </section>
        <script src="js/paint/footer-paint.js"></script>
    </body>
    <script src="js/header.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/section-report.js"></script>
    <script src="js/section.js"></script>
</html>
