<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/loginSignUp.css" />
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div class="login_container">
            <form id="signup_form" class="login_form" action="/user/join" method="POST">
                <h2 class="login_label">Sing Up</h2>
                <div class="input_form">
                    <input id="username" class="input" name="username" type="text" placeholder="ID"/>
                </div>
                <div class="input_form">
                    <input id="email" class="input" name="email" type="text" placeholder="Email"/>
                </div>
                <div class="input_form">
                    <input id="password" class="input" name="password" type="password" placeholder="PW"/>
                </div>
                <span id="signup_btn" class="btn font">회원가입</span>
                <div class="sub_text">
                    <span class="home_btn font" onclick="location.href='write.html'">홈으로</span>
                </div>
            </form>
        </div>
    </body>
    <script src="js/signup.js"></script>
</html>