<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>money</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/section.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <body>
        <script src="js/paint/header-paint.js"></script>
        <section class="section_wrapper">
            <script src="js/paint/nav-paint.js"></script>
            <div class="section_container">
                <div class="section_top">
                    <div class="section_top_content">
                        <span id="section_top_label" class="section_top_label font">쓰기</span>
                        <img id="btn_money_hide" class="btn_money_hide" src="image/btn_money_off.png" alt="btn_money" />
                        <span id="today" class="today font"></span>
                    </div>
                </div>
                <div class="section_middle">
                    <div class="section_middle_content">
                        <span id="this_month" class="this_month font">2020.12.01 - 2020.12.31</span>
                    </div>
                </div>
                <div class="section_bottom_menu">
                    <span class="bottom_btn font">지출</span>
                    <span class="bottom_btn font">수입</span>
                    <span class="bottom_btn font">달력</span>
                </div>
                <div class="section_bottom">
                    <div class="section_bottom_content">
<!--                        <div class="section_graph_container">-->
<!--                            그래프 출력-->
<!--                        </div>-->
                        <div class="section_write">
                            <form>
                                <table style="width: 100%">
                                    <!-- 번호 foucs -->
                                    <tr>
                                        <td class="section_write_b" width="1%" style="text-align: center;"><input type="checkbox" /></td>
                                        <td class="table_text section_write_b font" width="6%">날짜</td>
                                        <td class="table_text section_write_b font">사용내역</td>
                                        <td class="table_text section_write_b font">현금</td>
                                        <td class="table_text section_write_b font">카드</td>
                                        <td class="table_text section_write_b font">분류</td>
                                    </tr>
                                    <tr>
                                        <td class="section_write_b" width="1%" style="text-align: center;"><input type="checkbox" /></td>
                                        <td class="write_text section_write_b font">2020.12.21</td>
                                        <td class="write_text section_write_b font"><input  type="text" style="width: 97%"></td>
                                        <td class="write_text section_write_b font"><input class="write_money" type="number" style="width: 97%"/></td>
                                        <td class="write_text section_write_b font"><input class="write_money" type="number" style="width: 97%"/></td>
                                        <td class="write_text section_write_b font">
                                            <select>
                                                <option>test</option>
                                                <option>test</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/paint/footer-paint.js"></script>
    </body>
    <script src="js/section-write.js"></script>
    <script src="js/header.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/section.js"></script>
</html>
